@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 88px;
    background-color: black;
    color: #fff;

}

body{
    font-family: 'Nanum Gothic', sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

main{
    flex: 1;
}



.nav-left{
    display: flex;
    margin-left: 100px;
    font-size: 24px;
}

.Help-center{
    margin-left: 0.8em;
    margin-top: 4px;
    border-left: 2px solid #fff;
    padding: 2px 0 4px 0.8rem;
    letter-spacing: -.5px;
}

.nav-right{
    display: flex;
    margin-right: 100px;
}

nav a{
    color: #fff;
    font-family: 'Nanum Gothic', sans-serif;
}

.support{
    border: 1px solid #fff;
    
}

.login{
    border: 1px solid #4C5FD5;
    background-color: #4C5FD5;
}

.query-section{
    padding-top: 80px;
    padding-bottom: 115px;
    background-color: #DADBF1;
}

.support,.login{
    padding: 6px 22px;
    font-size: 24px;
    margin-left:1rem;
    border-radius: 5px;
}

.query-container{
    margin: 0 auto;
    width: 60%;
    text-align: center;
}

.query-header{
    font-size: 80px;
    letter-spacing: -4px;
    margin-bottom: 1rem;
}

#query{
    border: 1px solid #dee2e6;
    font-size: 20px;
    line-height: 32px;
    border-radius: 4px;
    padding: 1rem;
    width: 100%;
}

.container{
    display: flex;
    flex-wrap:  wrap;
    padding: 0 30px;
    width: 80%;
    margin: 8rem auto;
}

.list-item{
    display: flex;
    width: 50%;
    margin-bottom: 3rem;
    padding-right: 1.5rem;
}

.list-icon{
   margin-top: 50px;
}
img{
    max-height: 80px;
    margin-right: 30px;
}

.list-title{
   
    margin: 3rem 0 1rem;
    
}

.list-content{
     font-size: 24px;
     line-height: 32px;
     margin-bottom: 20px;
    
}

.list-link{
    color: blue;
    font-size: 20px;
}

footer, footer a{
    background-color: black;
    color: white;
    line-height: 24px;
    font-weight: 800;
}



.footer-main{
  
    display: flex;
    flex-wrap: wrap;
}

.footer-main-child{
    width: 15%;
    margin-left: 3%;
    
}

.footer-title{
    margin: 3rem 0 1rem;
}

.footer-title-secondary{
    margin-top: 20px;
}

.footer-captions{
 
    margin-left:auto;
    margin-top: 200px;
    margin-right: 75px;
  
}